body {
	margin: 0;
	padding: 0;
	background-image: url("../asset/bg.gif");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.main {
	display: flex;
	flex-direction: column;
	width: 60%;	
	margin: auto;
	padding: 25px;
}

.flex {
	display: flex;
}

.card {
	width: 300px;
	height: 250px;
	margin: 3px;
}

.card img {
	width: 100%;
	height: 300px;
}

.card button{
	width: 80%;
	height: 50px;
	font-size: x-large;
}

#explanation{
	position: fixed;
	display: none;
	width: 60%;
	height: 40%;
	margin: auto;
	margin-top: 25vh;
	border: 5px solid black;
	background-color: white;
}

#explanation a{
	font-size: x-large;
	width: 20%;
	height: 30px;
	text-align: center;
	background-color: lightgreen;
	border: 2px black solid;
	text-decoration: none;
	color: black;
	margin-top: auto;
	margin-bottom: auto;
}

#home{
	margin-left: auto;
	margin-right: auto;
}

#next{
	margin-left: auto;
	margin-right: auto;
}

.float{
	position: fixed;
	margin-right: auto;
}